# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C0620G1-Hoang Minh Quan\C0620G1-HOANG-MINH-QUAN\module 2\lop_va_doi_tuong_java\thuc_hanh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
