<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blog/index::head}"></head>
<body>
<nav th:replace="~{blog/index::nav-bar-blog}"></nav>
<div class="row">
    <div class="col-12">
        <div id="index-container">
            <h1>Blog Entries</h1><br>
            <div th:each="blogEntry : ${blogEntryList}">
                <a th:href="@{/blog/viewEntry(id=${blogEntry.id})}"><p><span th:text="${blogEntry.date}"></span> : <span
                        th:text="${blogEntry.title}"></span></p></a>
            </div>
            <!--                        <a th:if="${blogEntryList.hasPrevious()}" th:href="@{/blog/view(page=${blogEntryList.number - 1}, keyword=${keyword})}"><span class="material-icons">skip_previous</span></a>-->
            <!--            <span th:text="${blogEntryList.getNumber() + 1}"></span>/<span th:text="${blogEntryList.getTotalPages()}"></span>-->
            <!--                        <a th:if="${blogEntryList.hasNext()}" th:href="@{/blog/view(page=${blogEntryList.number + 1}, keyword=${keyword})}"><span class="material-icons">skip_next</span></a>-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${!blogEntryList.hasPrevious()} ? disabled">
                        <a class="page-link" th:href="@{/blog/view(page=${blogEntryList.number - 1}, keyword=${keyword})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <th:block th:each="i : ${#numbers.sequence(0, blogEntryList.getTotalPages() - 1)}">
                    <li class="page-item" th:classappend="${blogEntryList.getNumber() == i} ? active"><a class="page-link" th:href="@{/blog/view(page=${i}, keyword=${keyword})}" th:text="${i + 1}"></a></li>
                    </th:block>
                    <li class="page-item" th:classappend="${!blogEntryList.hasNext()} ? disabled">
                        <a class="page-link" th:href="@{/blog/view(page=${blogEntryList.number + 1}, keyword=${keyword})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <form action="/blog/view">
                <input type="text" name="keyword" th:value="${keyword}">
                <input type="submit" value="search by title">
            </form>
            <form action="/blog/category">
                <label for="category">Category</label>
                <select id="category" name="category">
                    <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"
                            th:selected="${categoryId} == ${category.id}"></option>
                </select>
                <input type="submit" value="Get Entries">
            </form>
        </div>
    </div>
</div>
</body>
</html>